<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nhibernateSettings"
		    type="ProjectBase.Data.OpenSessionInViewSection, ProjectBase.Data" />
    <section name="NHibernate.Burrow"
				   type="NHibernate.Burrow.Configuration.NHibernateBurrowCfgSection, NHibernate.Burrow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
				   allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <NHibernate.Burrow>
    <persistantUnits>
      <add name="PersistenceUnit1" nh-config-file="D:\nhcontrib\trunk\Examples\EnterpriseSample\EnterpriseSample.Web\Config\BurrowTest.cfg.xml"   />
    </persistantUnits>
  </NHibernate.Burrow>


  <nhibernateSettings>
    <!-- List every session factory that will be needed; transaction management and closing sessions 
		will be managed with the open-session-in-view module -->
    <sessionFactories>
      <clearFactories />
      <sessionFactory name="northwind" factoryConfigPath="D:\nhcontrib\trunk\Examples\EnterpriseSample\EnterpriseSample.Web\Config\NorthwindNHibernate.config" isTransactional="true" />
    </sessionFactories>
  </nhibernateSettings>
</configuration>
