<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
	</configSections>

	<activerecord>
		<config>
			<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
			<add key="hibernate.dialect" value="NHibernate.Spatial.Dialect.MsSqlSpatialDialect,NHibernate.Spatial"/>
			<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			<add key="hibernate.connection.connection_string" value="Data Source=localhost\sqlexpress;Initial Catalog=TestNHS;Integrated Security=True"/>
		</config>
	</activerecord>

</configuration>
