<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="activerecord" requirePermission="false" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<section name="log4net" requirePermission="false" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<activerecord isWeb="true" default-lazy="true" isDebug="false">
		<config>
			<add key="dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
			<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
			<add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />

			<!-- Warning!!! Will drop/create tables in this database -->
			<add key="connection.connection_string" value="Server=(local);Database=Development;Trusted_Connection=True;" />

			<!-- Comment the next line to see NHibernate default behavior -->
			<add key="proxyfactory.factory_class" value="CastleStaticProxyFactoryFactory, Example.ActiveRecordDomain.Proxies" />
		</config>
	</activerecord>
	
	<appSettings/>
	
	<connectionStrings/>
	
	<system.web>
		<trust level="Medium"/>
		<compilation debug="true" />
		<authentication mode="Windows"/>
		<trace enabled="true" pageOutput="true" requestLimit="9999" />
	</system.web>
	
	<log4net debug="true">
		<appender name="AspNetTraceAppender" type="log4net.Appender.AspNetTraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p - %m%n" />
			</layout>
		</appender>

		<logger name="Default">
			<level value="ALL" />
			<appender-ref ref="AspNetTraceAppender" />
		</logger>
		
		<logger name="CastleStaticProxyFactory">
			<level value="ALL" />
			<appender-ref ref="AspNetTraceAppender" />
		</logger>
	</log4net>
</configuration>